* {
  position: relative;
  box-sizing: border-box;
}

body {
  background-color: yellow;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  width: 250px;
  height: 300px;
  background-color: orange;
  padding: 24px;
  padding-top: 0px;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  left: 0px;
  padding: 8px 0;
  background-color: orange;
  z-index: 1;
  border-bottom: 1px solid white;
}

.cta-btn {
  position: sticky;
  top: 40px;
  left: 0px;
  padding: 8px 8px;
  z-index: 1;
}
