@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --font-1: "Public Sans", Sans-serif;
  --font-2: "Castoro", Serif;

  --font-mono: Consolas, "Andale Mono", Courier, "Courier New", monospace;

  /* Colors */
  --color-1: hsla(12, 75%, 45%, 1);
  --color-2: hsla(96, 10%, 19%, 1);
  --color-3: hsla(0, 0%, 10%, 1);
  --color-1-lightest: hsla(12, 75%, 75%, 1);
  --color-1-lighter: hsla(12, 75%, 65%, 1);
  --color-1-light: hsla(12, 75%, 55%, 1);
  --color-1-dark: hsla(12, 75%, 35%, 1);
  --color-1-darker: hsla(12, 75%, 25%, 1);
  --color-1-darkest: hsla(12, 75%, 15%, 1);
  --color-2-lightest: hsla(96, 10%, 49%, 1);
  --color-2-lighter: hsla(96, 10%, 39%, 1);
  --color-2-light: hsla(96, 10%, 29%, 1);
  --color-2-dark: hsla(96, 10%, 10%, 1);
  --color-2-darker: hsla(96, 10%, 1%, 1);
  --color-3-light: hsla(0, 0%, 16%, 1);
  --color-3-dark: hsla(0, 0%, 8%, 1);
  --color-error: hsla(359, 100%, 91%, 1);
  --color-success: hsla(76, 69%, 68%, 1);
  --color-info: hsla(205, 82%, 91%, 1);
  --color-notice: hsla(51, 100%, 80%, 1);
  --color-error-content: hsla(359, 50%, 50%, 1);
  --color-success-content: hsla(76, 29%, 28%, 1);
  --color-info-content: hsla(205, 32%, 31%, 1);
  --color-notice-content: hsla(51, 30%, 30%, 1);
  --color-black: #000000;
  --color-gray-19: #181818;
  --color-gray-18: #2f302f;
  --color-gray-17: #474747;
  --color-gray-16: #5e5f5e;
  --color-gray-15: #767776;
  --color-gray-14: #8e8f8e;
  --color-gray-13: #a5a7a5;
  --color-gray-12: #bdbebd;
  --color-gray-11: #d4d6d4;
  --color-gray-10: #eceeec;
  --color-gray-9: #eef0ee;
  --color-gray-8: #f0f1f0;
  --color-gray-7: #f2f3f2;
  --color-gray-6: #f4f5f4;
  --color-gray-5: #f6f7f6;
  --color-gray-4: #f7f8f7;
  --color-gray-3: #f9faf9;
  --color-gray-2: #fbfcfb;
  --color-gray-1: #fbfcfb;
  --color-white: #ffffff;
  --color-text: var(--color-gray-19);
  --color-text-dark: var(--color-3-dark);
  --color-text-light: var(--color-gray-15);
  --color-placeholder: var(--color-gray-13);
  --color-link: var(--color-1);
  --color-link-hover: var(--color-2-lighter);
  --color-link-active: var(--color-2-lighter);
  --color-btn: var(--color-gray-10);
  --color-btn-text: var(--color-text);
  --color-btn-hover: var(--color-gray-11);
  --color-btn-hover-text: var(--color-text);
  --color-btn-primary: var(--color-1);
  --color-btn-primary-text: var(--color-white);
  --color-btn-primary-hover: var(--color-1-light);
  --color-btn-primary-hover-text: var(--color-white);
  --color-btn-stroke: var(--color-text-dark);
  --color-btn-stroke-text: var(--color-text-dark);
  --color-btn-stroke-hover: var(--color-text-dark);
  --color-btn-stroke-hover-text: var(--color-white);
  --color-preloader-bg: var(--color-gray-10);
  --color-loader: var(--color-3);
  --color-loader-light: var(--color-gray-14);
  --color-body-bg: var(--color-gray-1);
  --color-border: rgba(0, 0, 0, 0.1);
  --border-radius: 5px;
}

* {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: var(--font-1);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: var(--font-2);
  font-weight: 400;
}

p {
  font-size: 1.5rem;
  line-height: 40px;
  margin-bottom: 2rem;
  font-weight: 300;
  margin-top: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

span.horizontal-divider {
  margin: 0 1rem;
}

span.horizontal-divider::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-right: 1px solid var(--color-gray-15);
}

hr {
  border-color: var(--color-gray-19);
  opacity: 0.25;
}

.text-white {
  color: var(--color-white);
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.column {
  flex: 1;
}

body > section,
footer {
  padding-top: 224px;
}

.container {
  display: block;
  margin: 0px auto;
  max-width: 1260px;
  padding: 0px 24px;
}

.text-center {
  text-align: center;
}

/* *************** Section Heading Styles ************** */

.section-heading {
  position: relative;
  display: block;
  height: 200px;
  line-height: 1.02;
}

.section-count,
.heading-text {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.section-count {
  font-size: 172px;
  color: var(--color-gray-11);
  font-weight: 600;
  left: -17px;
  opacity: 0.5;
  top: 47.5%;
  user-select: none;
}

.heading-text {
  margin: 0px;
  font-size: 50px;
  font-weight: 400;
}
/* *************** Section Heading Styles End ************** */

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  padding: 1.5rem 0px;
}

header .container {
  height: 72px;
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 0px 26px; /* 1rem => 1 * root element font-size; 16px */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container img {
  width: 102px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-link-list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--color-gray-14);
}

.nav-link:hover {
  color: var(--color-white);
}

/* Styles for Intro section */
/* section#intro {
  min-height: 80vh;
  width: 100%;
  background-color: var(--color-gray-13);
} */
/* Styles for Inter section - Ends */

/* Styles for About section */
.about-me-card {
  position: relative;
}
.about-me-card .card-title {
  font-size: 28.8px;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.25rem;
}

.about-me-card .card-title::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 4px;
  height: 1.5rem;
  background-color: var(--color-1);
}

.about-me-card ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 2rem;
}

.about-me-card ul li {
  margin-bottom: 20px;
}

.about-me-card ul li .__name {
  line-height: 2rem;
  font-weight: 300;
  color: var(--color-3);
  font-size: 21px;
}

.about-me-card ul li .__description {
  font-weight: 300;
  line-height: 1.2;
  color: var(--color-text-light) !important;
}

/* .about-me-card.skills {
  flex: 2;
} */
/* Styles for About section - Ends */

/* Styles for Into section */

section#intro {
  width: 100%;
  padding: 0;
  background-color: var(--color-gray-10);
}

.intro-container {
  height: 103vh;
  width: 100%;
}

.right-half {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 50%;
  background-image: url("./assets/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /* Horizontal: left | center | right */
  /* Vertical: top | center | bottom */
  background-position: center center;
}

.intro-content-box {
  position: absolute;
  bottom: 10vh;
  left: 0px;
  width: 100%;
  padding-bottom: 78px;
}

.intro-content-box .floating-action-links-group {
  position: absolute;
  right: 1.5rem;
  bottom: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 90px;
}

.social-links {
  padding: 0;
  list-style: none;
}
.social-links.has-end-tail::after {
  content: "";
  color: white;
  height: 80px;
  width: 1px;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}

.social-links li {
  margin-bottom: 1.5rem;
}

.social-links a {
  color: white;
  font-size: 1.25rem;
}

.scroll-to-bottom {
  background: none;
  border: 1px solid white;
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
}

.intro-heading {
  display: block;
  max-width: 50%;
  padding-right: 1.5rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.15em;
}

.hero-heading {
  font-size: clamp(3.8rem, 4.8vw, 80px);
  line-height: 1.045;
  letter-spacing: -0.025em;
  margin-top: 0;
  font-weight: 400 !important;
}

.intro-heading span.greeting {
  color: var(--color-1);
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-1);
}

.intro-cta-group {
  /* height: 150px; */
  column-gap: 8rem;
}

.cta-link {
  display: inline-block;
  border: 1.5px solid black;
  background-color: transparent;
  height: 54px;
  padding: 0px 36px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  font-size: 0.75rem;
  font-family: var(--font-1);
  letter-spacing: 3.6px;
  color: black;
  font-weight: 500;
  transition: 300ms all ease-in-out;
  text-align: center;
}

.intro-cta-group .cta-link:not(:last-child) {
  margin-right: 1rem;
}

.cta-link.primary {
  background-color: black;
  color: white;
}

.cta-link.primary:hover {
  background-color: var(--color-1);
  border-color: var(--color-1);
}

.cta-link.outlined-primary:hover {
  background-color: black;
  color: white;
}

.cta-link.outline-inverted {
  border-color: white;
  color: white;
}

.cta-link.outline-inverted.has-start-tail:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #fff;
  left: -120px;
  top: 50%;
  transform: translateY(-50%);
}

.cta-link.outline-inverted:hover {
  background-color: white;
  color: black;
}

/* 1 minute = 60 Seconds, 1 Second = 1000 milli seconds */
/* Styles for Intro section - Ends */

/* Styles for Section 2 */
.folios {
  gap: 0;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-bottom: 160px;
  transform: scale(1.15);
  padding: 2rem;
}

.folio-card {
  flex-basis: 50%;
  overflow: hidden;
  aspect-ratio: 1;
}

.folios .folio-card:not(:hover) .folio-description-overlay {
  display: none;
}

.folio-description-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  aspect-ratio: 1;

  background-color: var(--color-3-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s all ease-in-out;
}

.folio-description-overlay .description-container {
  text-align: center;
  color: white;
}

.folio-description-overlay .description-container p {
  margin: 0;
}

.folio-description-overlay .description-container p.description {
  font-size: 16px;
  line-height: 28px;
  color: var(--color-gray-15);
}

.testimonial-heading {
  margin-bottom: 4rem;
  font-size: 34.56px;
  font-weight: 400 !important;
}

.testimonial-heading h2 {
  font-size: inherit !important;
  font-weight: inherit !important;
}

.testimonial-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
  gap: 4rem;
  width: 100%;
}

.testimonial-cards::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.testimonial-card {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  scroll-snap-align: start;
  width: calc(((100% - 8rem) / 3));
  gap: 20px;
}

.testimonial-author.row {
  gap: 24px;
  align-items: center;
}

.testimonial-author p {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-text-dark);
}

.testimonial-author p.author-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-gray-15);
}

.testimonial-author .avtar {
  max-width: 56px;
}

.testimonial-author .avtar img {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 56px;
}

.testimonial-content p {
  font-size: 20px;
  line-height: 32px;
}

/* Styles for Section 2 Ends */

/* Styles for numbers */

section#numbers {
  background-color: var(--color-gray-10);
  color: var(--color-text-light);
  padding-bottom: 224px;
}

section#numbers .row.numbers {
  column-gap: 3.5rem;
  row-gap: 3rem;
  flex-wrap: wrap;
}

section#numbers .number-card {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: calc((100% - 3.5rem) / 2);
  font-size: 20px;
  gap: 1.5rem;
}

section#numbers .number-card .number {
  font-size: 148px;
  font-weight: bold;
  color: var(--color-text-dark);
  line-height: 1;
  margin-bottom: -1.5rem;
}

section#numbers .number-card .number::after {
  content: "+";
  position: absolute;
  font-size: 50%;
  top: 50%;
  transform: translateY(-50%);
}

section#numbers .number-card .description {
  font-size: 1.5rem;
  color: var(--color-text-dark);
}

.number-summary {
  font-size: inherit !important;
  line-height: 2rem;
}

/* Styles for Numbers Ends */

/* Styles for Contact section */

#contact {
  background-color: var(--color-3);
  padding-top: 192px;
  color: var(--color-gray-15);
}

#contact .section-count {
  color: var(--color-gray-15);
  opacity: 0.25;
}

#contact .heading-text {
  color: white;
}

#contact .footer-note {
  font-size: 24px;
  line-height: 40px;
}

#contact .cta-link {
  display: block;
  width: 100%;
  text-align: center;
  height: 70px;
  line-height: 70px;
  font-size: 13.8889px;
}

#contact .cta-link.primary {
  background-color: var(--color-1);
  border-color: var(--color-1);
}

#contact .cta-link.primary:hover {
  background-color: var(--color-1-light);
  border-color: var(--color-1-light);
}

#contact .footer-cta-links {
  column-gap: 52px;
  margin: 3rem auto 5rem auto;
}

#contact .social-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#contact .social-links a {
  color: var(--color-gray-15);
  font-size: 1.2rem;
}

#contact .footer-contet-1 {
  column-gap: 52px;
}

#contact .footer-content-2 {
  padding: 1.5rem 0 3rem 0;
}

#contact .footer-content-2 p {
  font-size: 16px;
  line-height: 2rem;
}

#contact .social-links-list {
  flex: 0 0 auto;
  width: 220px;
}

#contact .social-links-list a {
  color: var(--color-gray-15);
  text-decoration: none;
  font-size: 20px;
  list-style: 32px;
}

#contact .social-links-list ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact .list-title {
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#contact .creator-link {
  color: var(--color-white);
  text-decoration: none;
}

#contact .creator-link:hover {
  color: var(--color-1);
}
